#spoilerh, #spoilerb {
	padding: 5px;
    text-align: center;
    background-color: #e9bbca;
    border: solid 1px #c34770;
    border-radius: 10px;
}

#spoilerb {
	display: none;
}

.subtitle {
    font-size: 45;
}

.topic {	
	text-align: justify;
    font-size: 25;
}

.picture {
	border-radius: 5%;
	transition: all .50s;
}

.picture:hover {
	border-radius: 2%;
}