#spoilerh, #spoilerb {
	padding: 5px;
    text-align: center;
    background-color: #e9bbca;
    border: solid 1px #c34770;
    border-radius: 10px;
}

#spoilerb {
	display: none;
}

.subtitle {
    font-size: 35;
}