#spoilerh, #spoilerb {
	padding: 5px;
    text-align: center;
    background-color: #e9bbca;
    border: solid 1px #c34770;
    border-radius: 10px;
}

#spoilerb {
	display: none;
}

.title {
    font-family: "CocogooseLight";
    font-size: 40;
}

.subtitle {
    font-size: 45;
}

.topic {	
	text-align: justify;
    font-size: 25;
}

.picture {
	border-radius: 5%;
	transition: all .50s;
}

.picture:hover {
	border-radius: 2%;
}
  
.img-hover-zoom {
    height: 200px;
    vertical-align: middle;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    object-fit: contain;
}

.img-hover-zoom:hover img {
    transform: scale(1.1);
}

.img-hover-zoom:active img {
    animation: flash linear 0.3s 1;
}

@keyframes flash {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
}